.createstock-container{
    position: absolute;
    background:white;
    top: 8%; 
    left:8%;
    width: 62%;
    .createstock-title{
        font-size: 28px;
        width: 50%;
        margin: auto;
        text-align: center;
        border-bottom: lightgray 2px solid;
    }
    .createstock-fields{
        width: 70%;
        margin: auto;
        // background-color: rebeccapurple;
    }
    .input-field-row{
        display: flex;
        padding: 1%;
    }
    input{
        border: 1px solid lightgray;
        padding: 2%;
    }
    input:focus{
        border: 2px solid red;
    }
}